certifi: 2023.6.15
chardet: 5.0.0
click: 8.0.3
cssselect: 2.1.0
Flask: 2.2.2
idna: 3.3
itsdangerous: 2.1.0
Jinja2: 3.1.2
lxml: 4.9.1
MarkupSafe: 2.1.1
parsel: 1.9.1
PyYAML: 6.0
requests: 2.27.1
selectorlib: 0.23.0
six: 1.16.0
urllib3: 1.26.8
w3lib: 1.23.1
Werkzeug: 2.3.0
WTForms: 3.0.0